# Check all text files in with lf and out with crlf endings
* text eol=crlf

# These are explicitly not text
*.png binary
*.xpm binary
*.icns binary
*.ico binary
*.svg binary

*.mexw32 binary
*.mexw64 binary

*.lib binary
*.exe binary

*.pptx binary

*.zip binary

